body {
	font-family: sans-serif;
	max-width: 450px;
    background-color: #fff3d4;
}

label, input {
	line-height: 1.5;
}

label {
	display: block;
	margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

input {
	display: inline-block;
    float: right;
    width: 50px;
    padding: 1px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #666;
    cursor: text;
    background-color: #fff3d4;
    -webkit-appearance: textfield;
    border-radius: 5px;
}

section {
	padding-top: 20px;
    padding-bottom: 20px;
    border-top-width: 1px;
    border-top-color: #ddd;
    border-top-style: solid;
}

button {    
	margin: 20px;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #332bbb;
    color: #fff;
}

.hidden {
	display: none;
}

#saveSuccess {
	color: #28a745;
	transition: 1s;
}

#setupBtn {
	display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    cursor: pointer;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: #666;
}

td {
    padding: 10px;
}